.connected_menu {
    margin-left: auto;
    margin-right: 10px;
}

.profile {
    height: 30px;
}

.menus {
    font-size: smaller;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.page {
    display: auto;
}

.stats {
    display: auto;
}

.location {
    width: 100%;
    height: 700px;
    background: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 16px;
    display: flex;
}


.infos {
    width: 10%;
}

#map {
    margin: 15px;
    margin-top: 20px;
    border-radius: 16px;
    width: 90%;
}

h1 {
    margin-left: 20px;
    font-size: larger;
    font-weight: bold;
}

.graph {
    width: 100%;
    background-color: white;
    margin: 5px;
    border-radius: 16px;
}

.go_to{
    margin-top: 20px;
    margin-left: 20px;
}

.value_text {
    font-size: 60px;
    color: rgba(14,159,110,1);
}

canvas {
    margin: 10px;
}

.value {
    display: flex;
    height: 40px;
    margin: 15px;
    margin-top: 0px;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 0px;
    font-size: 25px;
}

.value_icon {
    height: 30px;
    margin-right: 15px;
}

.date {
    margin-left: auto;
    margin-right: 15px;
}

.image {
    width: 200px;
}

.periode {
    display: none;
}