:root {
    --main-color: whitesmoke;
    --accent-color: rgba(14,159,110,1);
    --secondary-color: rgba(14,159,110,1);
    --select-bg: rgba(255, 255, 255, 0.2);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
}

.profile {
    height: 30px;
}

.menus {
    font-size: smaller;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.location {
    width: auto;
    height: 700px;
    background-color: var(--main-color);
    margin: 15px;
    border-radius: 18px;
    display: flex;
}

.infos {
    margin-top: 60px;
    margin-right: 20px;
    width: 40%;
}

#map {
    margin: 20px;
    border-radius: 18px;
    width: 90%;
}

h1 {
    font-size: larger;
    font-weight: bold;
}

.live_values {
    width: 60%;
    border-radius: 18px;
    margin: 15px;
    height: auto;
    background-color: var(--main-color);
    display: flex;
}

.meteo {
  background-color: var(--main-color);
  display: flex;
  margin: 15px;
  height: auto;
  border-radius: 18px;
}

.graph_bat {
    width: 50%;
    background-color: var(--main-color);
    margin: 7.5px;
    margin-left: 15px;
    margin-top: 0px;
    border-radius: 18px;
}

.graph_poids {
    width: 50%;
    background-color: var(--main-color);
    margin: 7.5px;
    margin-right: 15px;
    margin-top: 0px;
    border-radius: 18px;
}

.graphiques {
    display: flex;
}

.go_to{
    margin: 20px;
}

.go_button {
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    margin-top: 50%;
}

.value_text {
    font-size: 60px;
    color: rgba(14,159,110,1);
}

.value {
    display: flex;
    height: 40px;
    margin: 15px;
    margin-top: 0px;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 0px;
    font-size: 25px;
}

.value_icon {
    height: 30px;
    margin-right: 15px;
}

.date {
    margin-left: auto;
    margin-right: 15px;
}

.image {
    width: 200px;
}

.periode {
    display: none;
}

/* CSS Formulaire */
  * {
    box-sizing: border-box;
  }
  select {
    margin: 20px;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    height: 50px;
    width: auto;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--secondary-color) 3em, var(--select-bg) 3em);
    color: black;
    border-radius: 18px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &::-ms-expand {
      display: none;
    }
  }
  

/* CSS des deux veleurs en direct */

.RadialBattery {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
  }
  
  .RadialBattery .percent {
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: 50px;
  }
  
  .RadialBattery .percent svg {
    width: 150px;
    height: 150px;
    position: relative;
  }
  
  .RadialBattery .percent svg circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: rgb(229, 229, 229);
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-linecap: round;
  }
  
  .RadialBattery .percent .num {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: black;
  }
  
  .RadialBattery .percent .num h2 {
    font-size: 48px;
  }
  
  .RadialBattery .percent .num h2 span {
    font-size: 24px;
  }
  
  .RadialBattery .text {
    padding: 10px 0 0;
    color: black;
    font-weight: bold;
    font-size: xx-large;
    letter-spacing: 1px;
  }

  

  .RadialWeight {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
  }
  
  .RadialWeight .percent {
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: 50px;
  }
  
  .RadialWeight .percent svg {
    width: 150px;
    height: 150px;
    position: relative;
  }
  
  .RadialWeight .percent svg circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: rgb(229, 229, 229);
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-linecap: round;
  }
  
  .RadialWeight .percent .num {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: black;
  }
  
  .RadialWeight .percent .num h2 {
    font-size: 48px;
  }
  
  .RadialWeight .percent .num h2 span {
    font-size: 24px;
  }
  
  .RadialWeight .text {
    padding: 10px 0 0;
    color: black;
    font-weight: bold;
    font-size: xx-large;
    letter-spacing: 1px;
  }
