:root {
    --main-color: whitesmoke;
    --accent-color: rgba(14,159,110,1);
    --secondary-color: rgba(14,159,110,1);
    --select-bg: rgba(255, 255, 255, 0.2);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
}

body {
    background-color: var(--select-bg);
    margin: 0px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: medium;
    overflow-x: hidden;
}

/* NavBar Horizontal */

.navbar {
    background-color: rgba(229, 231, 235, 1);
    height: 50px;
    position: sticky;
    display: flex;
    align-items: center;
}

.logo {
    width: 25px;
    margin: 10px;
    transition: transform .1s;
}

.logo:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.pages {
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

.pages_name {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: small;
    margin-left: 25px;
    margin-right: 25px;
    transition: transform .1s;
}

.pages_name:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: var(--secondary-color);
    cursor: pointer;
}

.login {
    margin-left: auto;
    margin-right: 10px;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.login_icon {
    height: 20px;
}

.login_button {
    text-decoration: none;
    text-align: center;
    font-size: small;
    margin-left: 5%;
    color: rgb(95, 95, 95);
    transition: transform .1s;
}

.login_button:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: var(--secondary-color);
    cursor: pointer;
}

.login:hover {
    cursor: pointer;
}

.slash {
    margin-left: 10px;
}


/* Title */

.Title {
    background-color: rgba(172, 217, 179, 1);
    height: auto;
    max-height: 600px;
    margin: 5px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.title_text {
    font-size: 150px;
    margin-right: 50px;
    margin-left: auto;
    font-weight: 600;
}

.bee {
    height: auto;
    margin-right: auto;
    max-height: 700px;
}

.icon {
    width: 20px;
    margin-left: 5px;
}